In [5]:
import pandas as pd


csv_file_path = 'ES-12月14.csv' 

df = pd.read_csv(
    csv_file_path, 
    encoding='utf-8',       # 常用编码，可根据您的文件情况修改为 'gbk' 或 'latin-1'
    sep=',',                # 分隔符，默认是逗号，如果您的文件是 Tab 分隔，可改为 '\t'
    skiprows=0              # 跳过文件开头的行数 (0 表示不跳过)
)
df.info()
print("========================================================================================================")
print(df.head())
print("========================================================================================================")
print(df.tail())
print("========================================================================================================")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2525065 entries, 0 to 2525064
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   date      object
 1   open      float64
 2   high      float64
 3   low       float64
 4   close     float64
 5   volume    int64
 6   average   float64
 7   barCount  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 154.1+ MB
========================================================================================================
                  date     open     high      low    close  volume   average  \
0  2018-10-01 00:51:00  2935.25  2935.50  2935.25  2935.50      30  2935.325
1  2018-10-01 00:52:00  2935.25  2935.50  2935.25  2935.50      94  2935.375
2  2018-10-01 00:53:00  2935.50  2935.50  2935.25  2935.50     161  2935.500
3  2018-10-01 00:54:00  2935.75  2935.75  2935.50  2935.75      69  2935.725
4  2018-10-01 00:55:00  2935.75  2935.75  2935.50  2935.75     161  2935.750

   barCount
0        16
1        18
2        46
3        16
4        66
========================================================================================================
                        date     open     high      low    close  volume  \
2525060  2025-11-25 23:26:00  6797.75  6797.75  6797.00  6797.75     194
2525061  2025-11-25 23:27:00  6797.75  6797.75  6797.00  6797.00      87
2525062  2025-11-25 23:28:00  6797.25  6797.25  6796.75  6796.75     169
2525063  2025-11-25 23:29:00  6796.50  6797.00  6796.50  6796.50      65
2525064  2025-11-25 23:30:00  6796.50  6797.00  6796.00  6797.00     186

          average  barCount
2525060  6797.350        72
2525061  6797.350        37
2525062  6796.925        32
2525063  6796.825        32
2525064  6796.400        63
========================================================================================================